body{
    margin: 0;
    background-color: beige;
}

*{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: goldenrod;
}

img{
    width: 100%;
}

nav{
    background-color: goldenrod;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
    
}

nav ul li a{
    text-decoration: none;
    padding: 10px;
    border: solid 2px #fff;
    margin: 5px;
    border-radius: 18px;
    color: #fff;
    background-color: black;

}

.article-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    width: 22%;
    box-sizing: border-box;
    background-color: bisque;
}

.socialmedia{
    color: black;
    font-size: 20px;
}

.item div{
    padding: 10px;
}

section{
    width: 1000px;
    margin: auto;
}

footer{
    margin-top: 20px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width:1000px){
    section{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }  
}
@media screen and (max-width:500px) {
    nav{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .item{
        width: 50%;
        padding: 10px;
    }
}
@media screen and (max-width:600px) {
    .item{
        width: 100%;
        box-sizing: border-box;
    }
}

